<html>
<head>
</head>
<body>
  <form action="/add-vacation" method="POST">
    <input name='cityName' type='text' placeholder='Add city name'/>
    <input name='imgURL' type='text' placeholder='add image url'/>
    <input name='dateDeparture' type='text' placeholder='add departure date'/>
    <input name=dateReturn type='text' placeholder='add return date'/>
    <button>Submit</button>
  </form>
</body>
</html>
