<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h2>Login</h2>
    <label>Need to register? <a href="/register">click here</a></label>
    <form action="/login" method = "POST">
        <input type="text" name = "username" />
        <input type="password" name = "password" />
        <input type="submit" value="Login" />
    </form>
  </body>
</html>
